[package]
name = "quickjs"
version = "0.0.3"
description = "QuickJS is a small and embeddable JavaScript engine. It supports the ES2019 specification including modules, asynchronous generators and proxies."
readme = "README.md"
repository = "https://github.com/saghul/wasi-lab"
homepage = "https://bellard.org/quickjs/"

[[module]]
name = "quickjs"
source = "build/qjs.wasm"
abi = "wasi"

[module.interfaces]
wasi = "0.0.0-unstable"

[[command]]
name = "qjs"
module = "quickjs"

[[command]]
name = "quickjs"
module = "quickjs"
